In [1]:
pip install pyathena

Collecting pyathena
  Obtaining dependency information for pyathena from https://files.pythonhosted.org/packages/e1/ff/8b225e3e7e1e3abe99660a485aef7d5cd7afe05598cbad9256c49c8b9ded/pyathena-3.0.6-py3-none-any.whl.metadata
  Using cached pyathena-3.0.6-py3-none-any.whl.metadata (73 kB)
Collecting boto3>=1.26.4 (from pyathena)
  Obtaining dependency information for boto3>=1.26.4 from https://files.pythonhosted.org/packages/81/09/be4b462f1aef33ffd789dbcfbd626a261fa0acc3b1499990ce8b71474d89/boto3-1.28.40-py3-none-any.whl.metadata
  Using cached boto3-1.28.40-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: botocore>=1.29.4 in /opt/anaconda3/lib/python3.9/site-packages (from pyathena) (1.29.161)
Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.9/site-packages (from pyathena) (2023.6.0)
Requirement already satisfied: tenacity>=4.1.0 in /opt/anaconda3/lib/python3.9/site-packages (from pyathena) (8.0.1)
Collecting botocore>=1.29.4 (from pyathena)
  Obtaining dependency information for botocore>=1.29.4 from https://files.pythonhosted.org/packages/ba/2e/8b3b13bcd625115c6d65b0bbfa3312d983ef4508391e3bb09f4887fb34f5/botocore-1.31.40-py3-none-any.whl.metadata
  Using cached botocore-1.31.40-py3-none-any.whl.metadata (6.0 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/anaconda3/lib/python3.9/site-packages (from boto3>=1.26.4->pyathena) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/anaconda3/lib/python3.9/site-packages (from boto3>=1.26.4->pyathena) (0.6.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/anaconda3/lib/python3.9/site-packages (from botocore>=1.29.4->pyathena) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/anaconda3/lib/python3.9/site-packages (from botocore>=1.29.4->pyathena) (1.26.16)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.29.4->pyathena) (1.16.0)
Using cached pyathena-3.0.6-py3-none-any.whl (73 kB)
Using cached boto3-1.28.40-py3-none-any.whl (135 kB)
Using cached botocore-1.31.40-py3-none-any.whl (11.2 MB)
Installing collected packages: botocore, boto3, pyathena
  Attempting uninstall: botocore
    Found existing installation: botocore 1.29.161
    Uninstalling botocore-1.29.161:
      Successfully uninstalled botocore-1.29.161
  Attempting uninstall: boto3
    Found existing installation: boto3 1.24.12
    Uninstalling boto3-1.24.12:
      Successfully uninstalled boto3-1.24.12
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
aiobotocore 2.5.2 requires botocore<1.29.162,>=1.29.161, but you have botocore 1.31.40 which is incompatible.
Successfully installed boto3-1.28.40 botocore-1.31.40 pyathena-3.0.6
Note: you may need to restart the kernel to use updated packages.

In [37]:
import pandas as pd
from pyathena import connect
from dotenv import load_dotenv
load_dotenv()
import os

In [38]:
# Initialize connection 
conn = connect(aws_access_key_id = os.environ["AWS_ACCESS_KEY_ID"],
               aws_secret_access_key = os.environ["AWS_SECRET_ACCESS_KEY"],
               s3_staging_dir = os.environ["S3_STAGING_DIR"],
               region_name = os.environ["REGION_NAME"])

# Execute query
last_update = pd.read_sql("""
        SELECT MAX(data_date) as data_date
        FROM "nasdaq"."transformed_data"
        WHERE "symbol" = 'NASDAQ:Composite'
          """, conn) 

price_metric = pd.read_sql(f"""
        SELECT "symbol",max(price) as price, max(change_percent) change_percent, 
        MAX(volume) as volume
        FROM "nasdaq"."transformed_data"
        WHERE data_date = '%s'
        GROUP BY 1 
                           """% last_update['data_date'][0], conn)
# Execute query
# df = pd.read_sql(query, conn) 
conn.close()

/var/folders/8d/z94nbqy54ts1qprs5dv7b7qm0000gn/T/ipykernel_52719/2984362621.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_update = pd.read_sql("""
/var/folders/8d/z94nbqy54ts1qprs5dv7b7qm0000gn/T/ipykernel_52719/2984362621.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  price_metric = pd.read_sql(f"""

In [39]:
last_update

    data_date
0  2023-09-05

In [41]:
price_metric

             symbol         price  change_percent      volume
0       TSLA:NASDAQ    256.490000        0.020000           0
1        VFS:NASDAQ     26.130000       -0.294900           0
2  NASDAQ:Composite  14020.950195       -0.077391  4379790000

In [42]:
nasdaq =  price_metric[price_metric['symbol'] == 'NASDAQ:Composite']

In [28]:
nasdaq

             symbol        price  change_percent      volume
2  NASDAQ:Composite  14031.80957       -0.022516  4033960000

In [25]:
price = nasdaq['price'].values[0]

In [32]:
change = nasdaq['change_percent'].values[0]

In [33]:
data = pd.DataFrame({
    'Date': ['2022-01-01','2022-01-02','2022-01-03','2022-01-04','2022-01-05','2022-01-06','2022-01-07','2022-01-08','2022-01-09','2022-01-10'],
    'Price': [10,11,12,13,14,14,100,299,300,500],
    'Volume': [100, 200, 300, 400, 500,100, 200, 300, 400,200]
})

In [34]:
data

         Date  Price  Volume
0  2022-01-01     10     100
1  2022-01-02     11     200
2  2022-01-03     12     300
3  2022-01-04     13     400
4  2022-01-05     14     500
5  2022-01-06     14     100
6  2022-01-07    100     200
7  2022-01-08    299     300
8  2022-01-09    300     400
9  2022-01-10    500     200